name: Test

on:
  workflow_call:
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: using nodejs v16
        uses: actions/setup-node@v3
        with:
          node-version: v16.x
          cache: yarn
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn lint
